/* nav bar styles */
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-top: 0px;
    margin-left: 150px;
    padding-top: 50px;

    
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
    
}
.nav-buttons{
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    height: 152px;
    margin-top: 300px;
    
}
.banner-btn{
    text-align: center;
}
.background{
    background-image: url(../styles/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 0px;
    padding: 0px 0px;
    margin-bottom: 116px;
    
}
.banner{
    padding-bottom: 152px;
}   
.font-raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* action section styles */

.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 141px;
    margin-right: 159px;
    gap: 220px;
    
    
}

.section-title{
    font-size: 42px;
    font-weight: bold;
}
.section-desc{
    color: #4c4b5a;
    font-size: 24px;
    text-align: left;
}
img{
    border-radius: 50px;
    width: 403px;
}
.section-container{
    margin-top: 62px;
}
.total-users{
    margin-top: 116px;
    background-color: #E6E6FA	;
    margin: 116px 159px;
    border-radius: 10px;
    
}
.user-title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    
     
}
.numbers{
    display: flex;
    justify-content: center;
    gap: 158px;  
}
.big-numbers{
    
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF; 
    margin-top: 0px; 
    margin-bottom: 0px;
    
    
      
}
.numbers p{
    font-size: 20px;
    padding-bottom: 50px;
    
} 
.user-desc{
    margin-top: 40px;

}
/* feedback box styles */
.feedback{
    margin-left: 151px;
    margin-right: 149;
    margin-bottom: 150px;
}
.feedback-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.feedback-box{
    background-color: #FFFDF2;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: black 2px;
    
}
.user-info{
    display: flex;
    
    margin-left: 1px;
}
.for-ul li{
    list-style: none
}
.imagebox{
    display: flex;
    width: 20px;
}
.feedback-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}
.user-pp img{
    width: 40px;
    height: 40px;
}
.user-pp{
    display: flex;
    gap: 5px;
    justify-items: center;
}
.user-pp ul{
    list-style: none;
}
/* form styles */
.form-sec{
    display: flex;
    gap: 115px;
    padding-top: 200px;
    padding-bottom: 200px;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F8FF;
    
}
form {
    margin-right: 150px;
    margin-bottom: 21px;
}
.formdesc input{
    height: 70px;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    
}
.email{
    display: block;
}
.formhead{
    font-size: 97px;
    font-weight: bold;
    text-align: center;
    margin-left: 150px;
    
}
.label{
    display: block;
    padding-right: 150px;
}
/* footer styling */
.head{
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    margin-bottom: 0px;
}

.footdesc{
    color: #8987A1;
    margin-top: 8px;
    
    
    
}
.foot-section{
    text-align: center;
}
.anchors a{ 
    text-decoration: none;
}
.anchors li{
    list-style: none;

}
.anchors{
    display: flex;
    justify-content: center;
    gap: 48px;
    color: #8987A1;
}
footer{
    margin-bottom: 103px;
}
/* hover effect on buttons */
.nav-buttons:hover{
    background-color: darkblue;
}


























