/* nav bar styles */
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-top: 0px;
    margin-left: 150px;
    padding-top: 50px;

    
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
    
}
.nav-buttons{
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    height: 152px;
    margin-top: 300px;
    
}
.banner-btn{
    text-align: center;
}
.background{
    background-image: url(../styles/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 0px;
    padding: 0px 0px;
    margin-bottom: 116px;
    
}
.banner{
    padding-bottom: 152px;
}   
.font-raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* action section styles */
  
.action-section{
    padding-left: 141px;
    display: flex;
    gap: 220px;
    justify-content: center;
    margin-bottom: 116px;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
}
.section-desc{
    color: #4c4b5a;
    font-size: 24px;
    text-align: left;
}
img{
    border-radius: 50px;
}
.section-container{
    margin-top: 62px;
}