/* nav bar styles */
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-top: 0px;
    margin-left: 150px;
    padding-top: 50px;

    
}
.nav-title{
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
    
}
.nav-buttons{
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    height: 152px;
    margin-top: 300px;
    
}
.banner-btn{
    text-align: center;
}
.background{
    background-image: url(../styles/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 0px;
    padding: 0px 0px;
    margin-bottom: 116px;
    
}
.banner{
    padding-bottom: 152px;
}   
.font-raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* action section styles */

.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 141px;
    margin-right: 159px;
    gap: 220px;
    
}

.section-title{
    font-size: 42px;
    font-weight: bold;
}
.section-desc{
    color: #4c4b5a;
    font-size: 24px;
    text-align: left;
}
img{
    border-radius: 50px;
    width: 403px;
}
.section-container{
    margin-top: 62px;
}
.total-users{
    margin-top: 116px;
    background-color: rgb(226, 220, 235);
    margin: 116px 159px;
    border-radius: 10px;
    
}
.user-title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    
     
}
.numbers{
    display: flex;
    justify-content: center;
    gap: 158px;  
}
.big-numbers{
    
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF; 
    margin-top: 0px; 
    margin-bottom: 0px;
      
}
.numbers p{
    font-size: 20px;
    padding-bottom: 50px;
    
} 
.user-desc{
    margin-top: 40px;

}
/* feedback box styles */
.feedback{
    margin-left: 151px;
    margin-right: 149;
}
.feedback-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.feedback-box{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    box-shadow: black 2px;
    
}
.imagebox{
    display: flex;
    width: 20px;
}
.feedback-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}
.user-pp img{
    width: 40px;
    height: 40px;
}
.user-pp{
    display: flex;
    gap: 5px;
    justify-items: center;
}